<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма координат</title>
</head>
<body>
    <h1>Введите названия городов</h1>
    <form method="POST" action="/get-weather">
        <label for="start_lat">Стартовый город</label>
        <input type="text" id="start_lat" name="start_city" required>
        <br><br>

        <label for="start_lon">Конечный город</label>
        <input type="text" id="start_lon" name="finish_city" required>
        <br><br>
        <button type="submit">Отправить</button>
    </form>
    {% if start_description %}
    <p>погода в стартовой точке</p>
    <p>{{start_description}}</p>
    {% else %}
        <p></p>
    {% endif %}

    {% if finish_description %}
    <p>погода в финишной точке</p>
    <p>{{finish_description}}</p>
    {% else %}
        <p></p>
    {% endif %}
</body>
</html>